body {
    background-color: #000000;
    color: #CCCCCC;
}

.top {
    padding: 10px !important;
    background-color: #333333;
}

.pieces {
    padding: 10px !important;
    background-color: #0;
}

.board {
    padding: 10px !important;
    min-height: 100%;
    height: auto;
    background-color: #444444;
}

.btn {
    margin-bottom: 0px !important;
    background-color: dodgerblue !important;
}

.btn-large{
    background-color: dodgerblue;
}

.mr-20 {
    margin-right: 20px;
}

.mt-30 {
    margin-top: 30px;
}

#selectplayers {
    color: #000;
    display: block;
}

.strikethrough {
    text-decoration: line-through;
}

.right{
    text-align: right;
}

.row {
  margin-bottom: 5px;
}