<!DOCTYPE html>
<html ng-app="Shamblokus">
<head>
    <title>Shamblokus</title>
    <link rel="stylesheet" type="text/css" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="icon" type="image/png" href="favicon.png">
</head>

<body ng-controller="Main">
    
    <div class="row top">
        <div class="col s8" ng-show="gameStarted">
            <div class="col s4"><div class="container">{{players[0].name}} {{players[0].score}} vs {{players[1].score}} {{players[1].name}}</div></div>
            <div class="col s2"><div class="container">TIME</div></div>
            <div class="col s4"><div class="container">{{players[activePlayerId].name}}'s turn</div></div>
        </div>
        <div class="col s8 center" ng-show="waitingForStart && !gameStarted">
            <h5>Waiting for other players to get ready...</h5>
        </div>
        <div class="col s6 center" ng-show="boardReady">
            <h5>All players are ready!</h5>
        </div>
        <div class="col s2 center" ng-show="boardReady">
            <button class="btn green" ng-click="startGame()">Start game!</button>
        </div>
        <div class="col s4 right">
            <button class="btn" ng-click="endTurn()" ng-show="gameStarted">Skip turn</button>
            <button class="btn" ng-click="login()" ng-hide="authenticated || gameStarted">Login</button>
            <button class="btn" ng-click="logout()" ng-show="authenticated">Logout</button>
        </div>
    </div>
    
    <div class="row" ng-hide="userProfile.boardsURI || gameURI">        
        <div class="col s12 center">
            <form>
                <h4>You need a board URL to play a game.</h4>
                <div class="input-field row s6 center">
                    <input type="text" id="board" ng-model="providedBoard">
                    <label for="board" ng-class="{active: providedBoard.length > 0}">Type the URI for a game: </label>
                </div>
                <div class="row s12">
                    <button class="btn" type="submit" ng-click="prepareGame()">Prepare new game</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row center" ng-show="personalizeUser">
        <form>
            <div class="input-field center">
                <input type="text" id="myname" ng-model="myName">
                <label for="myname" ng-class="{active: myName.length > 0}">Your name: </label>
            </div>
            <div class="row">
                <button class="btn" ng-click="joinGame()" type="submit">Join game</button>
            </div>
        </form>
    </div>

    <div ng-show="userProfile.boardsURI">
        <div class="row s12" ng-hide="boardReady || gameStarted">
            <div class="row s12">
                <div class="input-field col s2">
                        <input type="text" id="board" ng-model="userProfile.name">
                        <label for="board" ng-class="{active: userProfile.name.length > 0}">Type your name: </label>
                </div>
            </div>
            <div class="col s12 valigh-wrapper">
                <div class="col s2 valign">
                    <select ng-model="nrPlayers" id="selectplayers">
                        <option ng-repeat="players in selectPlayers" value="{{players.id}}">{{players.name}}</option>
                    </select>
                </div>
                <div class="col s3 valign">
                    <button class="btn" ng-click="newGame()">Create a new game</button>
                </div>
            </div>

            <div class="row s12" ng-show="config">
                <div class="row s12 mt-30" ng-repeat="(id, p) in players track by $index">
                    <div class="input-field col s12" ng-show="id > 0">
                        <input type="text" id="link_{{id}}" value="{{appuri}}/#/{{gameURI|btoa}}/{{id}}/{{p.colors|toString}}">
                        <label for="link_{{id}}" class="active">Give this link to player {{id+1}}</label>
                    </div>
                </div>
            </div>

            <!-- <div class="col s12">
                <h5>Existing games:</h5>
                <div class="col s12" ng-hide="userProfile.games.length > 0">No previous games found</div>
                <div class="col s12" ng-repeat="game in userProfile.games">
                    <div class="col s12" ng-class="game.deleting?'strikethrough':''">
                        [<a href="#" ng-click="deleteGame(game.uri)">Delete</a>]
                        <a href="#">{{game.name}}</a> {{game.date}}
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <div class="row" ng-show="myPlayer">        
        <div class="col s12 pieces">
            <canvas id="bag1" >
                Your browser does not support HTML5 Canvas!
            </canvas>
        </div>
    </div>

    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="bower_components/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script type="text/javascript" src="js/rdflib.js"></script>
    <script type="text/javascript" src="js/shamblokus.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>